name: CI

env:
  COMPOSE_INTERACTIVE_NO_CLI: 1
  PHP_CS_FIXER_IGNORE_ENV: 1
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  push:
  pull_request:
    branches: [master]

jobs:
  pest:
    name: Tests (Pest) L${{ matrix.laravel }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        laravel: [8, 9]

    steps:
      - uses: actions/checkout@v2
      - name: Install composer dependencies
        run: composer require "illuminate/support:^${{ matrix.laravel }}.0"
      - name: Run tests
        run: vendor/bin/pest

  phpstan:
    name: Static analysis (PHPStan)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install composer dependencies
        run: composer install
      - name: Run phpstan
        run: vendor/bin/phpstan analyse
